[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uuid = "*"
pydantic = "~=2.9"
pydantic_settings = "~=2.5.0"
redis = "~=5.0.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
